<% provide :title, t(:forums) %>
<% content_for(:forum_content) do %>
 <!--  <div class="columns">
    <div class="topics columns "> -->
      <% if @topics.any? %>
        <%= render @topics %>
      <% else %>
        <p>还没有任何话题。</p>
      <% end%>
    <!-- </div>
  </div> -->
<% end %>
