<div class="row voting-index">
  <div class="colmuns small-10 small-centered text-info">
    <% if session[:locale] == 'en' %>
    No votings yet!
    <% else %>
    暂无投票项目!
    <% end %>
  </div>
</div>