<div class="user-addresses-list">
  <%=render @logistics%>
  <%#=render 'form' ,:locals=>{@logistics=>logistics} %>
  <div class="new">
    <div class="new-address left">
    <%= t(:new_logistic) %>
    </div>
    <%= link_to new_logistic_path(groupbuy_id: params[:groupbuy_id]) do %>
    <div class="plus-circle right"><i class="fa fa-lg fa-plus-circle"></i></div>
    <% end %>
    <div class="clear"></div>
  </div>
  <hr />
</div>
