<div class="comment">
  <p> 
    <% if @parent
      if current_user == @parent.user && participant.status_pay != 1%>
      <%= link_to "确认支付", confirm_paid_groupbuy_participant_path(participant.groupbuy_id,participant.id), class:"tiny button radius alert" %>
      <small><%=participant.mobile%>||<%=participant.address%></small>
      <%end
      end%>
    </p>
    <div class="">
      <%= participant_info(participant) %>
    </div>
  </div>

