
<div class="panel">
  <%=render @participants%>
  <%# if Groupbuy.find(params[:groupbuy_id]).participants.count > @participants.count %>
  <div class="more-participants" style="text-align:center;">
  	<%=link_to t(:more), @url%>
  </div>
  <%# end %>
</div>