<div class="panel"  style="margin:0px;">
<%=render 'form' ,:locals=>{@parent=>@parent,@participant=>@participant} %>
	</div>
	<div class="panel"  style="margin:0px;">
<%=render @participants%>
	</div>