<div class="panel" style="margin:0px;">
  <%=render 'form' ,:locals=>{@parent=>@parent,@participant=>@participant} %>
</div>
<div class="panel show-more-participants">

  <%=render @participants%>
  <%# if Groupbuy.find(params[:groupbuy_id]).participants.count > @participants.count %>
  <div class="more-participants" style="text-align:center;">
  	<%=link_to t(:more), @url%>
  </div>
  <%# end %>
</div>