<% provide :title, t(:new_participant) %>
<div class="topics  columns radius ">
  <h4><%= @parent.title %></h4>
  <%#= event_info(@parent) %>
</div>
<div class="small-12 medium-10 medium-center columns new-participant">
  <%= render 'form' %>
</div>
