<% provide :title, t(:about_groupmall) %>
<div class="row">
  <div class="columns small-10 small-offset-1">
    <p>
      <% if session[:locale] == 'zh' %>
      <div>GroupMall是您选购食品的最佳拍档！</div>
      <div>您在这里可以掏到意想不到的进口食品和中国食品！
        赶快在平台关注可以购买的商品吧，每个商品过时不候，卖光为止！抓紧下单，别错失良机！</div>
        <div>
        <p></p>GroupMall是一种聪明的购买方式。我们每周发布最低2折的特价商品。您可能会问，这，怎么可能？秘密在这里：我们去掉供应链的中间环节，直接找到进口商和本地生产商。</p>
        <div>为什么我们要这样做？生活在在中国，很难买到品质放心又价格便宜的产品，尤其是进口食品。我们竭力通过社区组织最好的产品，让您挑选到心仪的产品。我们的任务是帮助您不必让价格成为问题，只需享受美味佳肴带来的快乐，并且分享给家人和朋友。</div>
        <div>您还在犹豫什么？赶快到我们平台挑选最新的特价而优质的产品吧！</div>
        <% else %>
        <div>GroupMall is your best buddy for food shopping! </div>
        <div>Here you can find amazing deals and mind-blowing offers on imported and local food! Just check out through the deals currently available on the platform and take advantage of the offers, all of them have a time and a stock limitation! Don’t miss the opportunity!</div>
          <div>GroupMall is a way to buy smart. We propose every week different offers up to 80% discount. How is that possible, you ask? Well, we cut all the intermediaries of the supply chain, offering you the best products directly coming from the importers or the local producers.</div>
        <div>
        <p></p>
          <div>Why do we do that? Living in China is hard to find good quality products, especially imported ones, at affordable prices, we want to offer to the community the best options in the market while making people feel to have just closed a great deal on their favorite product. Our mission is to take away from the mind of people the issue of money when buying food, and just let them enjoy the happiness that only a good meal, shared with their family or friends, can give. </div>
          <div> What are you waiting for? Go get the latest Hot Deal in the platform!</div>
        </div>

        <% end %>
      </p>
    </div>
  </div>