<!-- <p>活动查询</p>
<table class="table">
	<thead>
		<tr>
			<th>开始时间:
				<input type="text" class="span2" value="" id="dpd1">
			</th>
			<th>结束时间:
				<input type="text" class="span2" value="" id="dpd2">
			</th>
		</tr>
	</thead>
</table> -->

<% provide :title, t(:event) %>
<%# content_for(:event_content) do %>
  <div class="columns">
    <div class="topics panel columns radius ">
      <% if @events.any? %>
        <%= render @events %>
      <% else %>
        <p>还没有任何活动。</p>
      <% end%>
    </div>
  </div>
<%# end %>


