

/*****************index******************/
body {
  margin-bottom: 40px;
}
.title {
  text-align: center;
  margin-top: 30px;
}
table {
  width: 80%;
  margin: 20px auto;
}
.pagination {
  
  margin: 0 auto;
}
.count {
  margin-left: 20x;
}
.text {
  font-weight: bold;
  padding-left: 0;
}
.counting  {
  margin-bottom: 10px;
  margin-left: 10%;
}