
$mid-gray: #666362;
$edit-button: #E8A317;
$delete-button: #C11B17;
$confirm-button: #86C217;
$cancel-button: #17BFC2;
$link-color: #2B65EC;
/*****************index******************/
.count {
  margin-left: 20px;
}
.text {
  font-weight: bold;
  padding-left: 0;
}
.counting  {
  margin-bottom: 10px;
  margin-left: 10%;
}

/********************share css*******************/

.pagination {
  position: absolute;
  right: 10%;
  padding-bottom: 50px;
  a, span, em {
    float: left;
  }
}
table {
  width: 90%;
  margin: 20px auto;
}
.title {
  text-align: center;
  margin-top: 30px;
}
.navpath {
  margin-left: 5%;
  color: black;
  a, a:hover, a:visited {
    color: black;
    background-color: white;
  }
  a:hover {
    color: white;
    background-color: black;
  }
  .slash, .subpath, .thirdpath {
    padding-left: 5px;
    color: $mid-gray;
  }
}
.edit {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  background-color: $edit-button;
}
.delete {
  margin-left: 20px;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  background-color: $delete-button;
}
.cancel {
  margin-left: 20px;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  background-color: $cancel-button;
}
.confirm {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  background-color: $confirm-button;
}
.hidden {
  display: none;
}

/******************participants_list***************/

.participants_list {
  margin-bottom: 180px;
  h4 {
    color: $mid-gray;
  }
  .ship-confirm {
    background-color: #4AA02C;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
  }
}

/****************events_list********************/
.groupbuys-list {
  .recommend-number {
    width: 50px;
  }
  a {
    color: $link-color;
    &:visited {
      color: $link-color;
    }
  }
}
/*******************tags_list*******************/

.tags_list {
  table {
    width: 80%;
  }
  .navpath {
    margin-left: 10%;
  }
  td {
    vertical-align: middle;
  }
  input {
    margin: auto 0;
  }
  .add-tag {
    float: right;
    margin-right: 10%;
    
  }
}