/*
 *= require_self
 *= require foundation_and_overrides
 *= require foundation-datepicker.min
 *= require wangEditor-mobile
 *= require_tree .

 */

/*html,body{ height: 100%;}

body{ position: relative; min-height: 550px;}

footer{ position: absolute; bottom: 0; left: 0; }*/

html, body {/*position: relative;*/
  font-family: Helvetica, Tahoma, Arial, STXihei,  "Microsoft YaHei",  SimSun,  Heiti, sans-serif;
}
a.button:visited{color:white;}

.list_button{ margin:5px 0px 10px 0px;}
.list_button a{margin-bottom:0px;}

a.button.secondary:visited{color:black;}

#bottomNav {z-index:9999; position:fixed; bottom:0; left:0; width:100%;
  _position:absolute;
 /* _top: expression_r(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); */
  overflow:visible; 
}

/*article {
  overflow-y: auto;
  margin-top:50px;
  }*/

  footer{margin-bottom:100px;}

/*article,
body,
html,
.off-canvas-wrap, 
.off-canvas-wrap .inner-wrap,
.body{
  height: 100%;
  width: 100%;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
  }*/

  .market{text-decoration:line-through;}
  .save{color:red;}
  .addr_option{display:none;}

  .field_with_errors label{color: #f04124;}

  .profile-image{
    margin-top: 15px;
    border-radius: 5%;
  }

  .new.button{
    margin-top: 15px;
  }

  .forums.panel {
    background-color: #fff;
    border: none;
    border-right: 1px solid #eee;
  }

  .topics.panel{
    background-color: #fff;
    padding:30px 15px;
  }

  .topic-area{
    min-height: 200px;
  }

  .topic{
    /*  border-bottom: 1px solid #ccc;*/
    padding: 10px 0 20px;
  }

  .topic:last-child{ border: none;}

  .topic p{font-size: .85em;}

  .topic .answer-count{
    padding: 25px 10px;
    border: 1px solid #eee;
    border-radius: 5px;
  }

  .details{
    font-size: .70em;
    margin-top: 5px;
  }

  .badge{
    background: #eee;
    border-radius: 10px;
    padding: 3px 5px;
  }

  .user-thumb{
    border-radius: 50%;
    width:20px;
  }

  :-webkit-input-placeholder { color: #eee; }
  ::-moz-placeholder { color: #eee; } /* firefox 19+ */
  :-ms-input-placeholder { color: #eee; } /* ie */
  input:-moz-placeholder { color: #eee; }