.event-list {
  .countdown {
    margin-top: 10px;
  }
}

/***************show***************/

.container {
  width: 80%;
}
.contact-mobile {
  padding-left: 10px;
}
.free-label {
  padding-left: 10px;
}
.content-pictures {
  margin-bottom: 5px;
  width: 100%;
  img {
    width: 100%;
  }
}

/*************index**************/
.panel {
  hr {
    margin: 8px 0;
  }
  p {
    margin-bottom: 0;
  }
}