.event-list {
  .countdown {
    margin-top: 10px;
  }
}

/***************show***************/

.container {
  width: 80%;
}
.contact-mobile {
  padding-left: 10px;
}
.free-label {
  padding-left: 10px;
}