// Place all the styles related to the Forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.side-nav li{
  padding: 10px 5px 5px;
  border-top: 1px solid #ddd;
  font-weight: bolder;
}


/*******index********/
// .clear {
//   clear: both;
// }
// .events-index {
 
//   a, a:hover {
//     color: black;
//   }
//   .event {
//     background-color: white;
//     margin-bottom: 10px;
//     padding: 5px 0;
//     .event-pic, .event-info {
//       float: left;
//     }
//     .event-pic {
//       width: 25%;
//       margin-left: 10px;
//       img {
//         width: 100%;
//       }
//     }
//     .event-info {
//       width: 70%;
//       padding-left: 3%;
//       padding-top: 20px;
//       padding-right: 1%;
//       .event-title {
//         font-size: 1.5em;
//         line-height: 1.2em;
//       }
//       .event-id-name {
//         font-size: 0.8em;
//         color: #808080;
//         padding-top: 5px;
//         .event-name {
//           padding-left: 10px;
//         }
//       }
//       .event-other-info {
//         padding-top: 5px;
//         font-size: 0.8em;
//         .price {
//           font-size: 1.2em;
//           color: #0078A0;
//         }
//         .participants, .comments {
//           padding-left: 10px;
//           color: #808080;
//         }
//       }
//     }
//   }
//   .clear {
//     clear: both;
//   }
// }

// .topics-index {
//   .topic {
//     margin-top: 10px;
//     background-color: white;
//     position: relative;
//     .topic-text, .topic-count {
//       float: left;
//     }
//     .topic-text {
//       padding-left: 10px;
//       width: 70%;
//       .topic-title {
//         font-size: 1.5em;
//         padding-bottom: 5px;
//       }
//       .topic-content {
//         font-size: 1em;
//         color: #808080;
//         padding-bottom: 5px;
//       }
//     }
//     .topic-count {
//       width: 25px;
//       padding-left: 5px;
      
      
//       .border {
//         border: 1px solid #808080;
//         width: 40px;
//         padding: 5px 15px;
//         position: absolute;
//         right: 5%;
//       }
//     }
//     .clear {
//       clear: both;
//     }
//   }
// }

/**********************show**********************/

.topic img {
  
}

