@import "foundation_and_overrides";
$light-slate-gray: #6D7B8D;
$primary-color: #008CBA;


/**************public css**************/
html body, h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

.clear {
  clear: both;
}
.countdown-day, .countdown-hour, .countdown-minute, .countdown-second {
  color:white;
  background-color: $primary-color;
  padding: 3px;
  font-size: 0.8em;
}
.fa-cloud-upload {
  margin-right: 15px;
}


/**************new participant**********/
.new-participant {
  font-size: 0.8rem;
  width: 100%;
  padding: 0;
  hr {
    margin-top: 0;
  }
  .left {
    float: left;
  }
  label {
    margin-right: 10px;
    padding: 2px 7px;
    height: 22px;
  }
  .clear {
    clear: both;
  }
  fieldset {
    padding: 0;
    margin: 0;
    
  }
  .time {
    margin-left: 10px;
  }
  .deliver-time {
    margin-bottom: 10px;
  }

  .deliver-time-title, .goods-amount, .unit {
    padding-top: 8px;
  }
  .deliver-time-title, .goods-amount {
    font-weight: 500;
  }
  .date, .time {
    padding: 0 10px;
    width: 40%;
  }

  .address-title {
    font-weight: 500;
    font-size: 1em;
  }
  .default-address {
    padding-left: 10px;
    width: 70%;
    .name, .mobile, .address {
      color: $light-slate-gray;
      font-size: 0.8em;
    }
    .mobile {
      padding-left: 20px;
    }
  }
  .right-arrow {
    margin-right: 2%;
    margin-top: 5px;
  }
  .address-block {
    margin-bottom: 20px;
  }
  .goods-weight {
    width: 60px;
    margin-right: 20px;
    margin-left: 20px;
  }
}
.name {
  padding-right: 10px;
}
.send-to {
  font-weight: 800;
  padding-right: 10px;
}
.address-detail {
  width: 70%;
  .name, .mobile, .address {
    color: $light-slate-gray;
    font-size: 0.8em;
  }
}
.drop{
  position: relative;
  margin: 0;

  #dropzone {
    position: absolute;
    height: 80px;
  }

  #dropzone.in {
    z-index: 1;
    border: 5px dashed #e69;
    text-align: center;
    font-size: 2em;
  }

  #dropzone.hover {
    border: 5px dashed #FDD017;
    background-color: #FFF380;
  }
}

.dz-filename, .dz-success-mark, .dz-error-mark {
  display: none;
}
.dz-preview {
  float: left;
  margin-left: 20px;
}

.add-address {
  margin-bottom: 20px;
  .add-address-icon {
    padding-left: 10px;
    .fa-plus-circle {
      color: green;
    }
  }
}

/*******************groupbuy new page******************/

.new-groupbuy {
  font-size: 0.8rem;
  margin-top: 20px;
  ::-webkit-input-placeholder { font-size: 0.8rem; }
  ::-moz-placeholder { font-size: 0.8rem; } /* firefox 19+ */
  :-ms-input-placeholder { font-size: 0.8rem; } /* ie */
  input:-moz-placeholder { font-size: 0.8rem; }
  .picture-upload {
    padding-left: 5px;
  }
  
  .goods-maximal {
    margin-bottom: 10px;
  }
  .medium-12 {
    padding: 0;
  }
  
}

/*****************show********************/

.owner-buttons-for-p {
  padding-top: 8px;
  padding-left: 8px;
  font-size: 1.1em;
  .icons {
    padding: 0 2px;
  }
}
.content-pictures {
  margin-bottom: 5px;
  width: 100%;
}
.freightage {
  margin-bottom: 10px;
}
.content {
  hr {
    margin: 8px 0;
  }
  p {
    margin-bottom: 0;
  }
}


/***********************edit**********************/

.dz-image img {
  width: 50px;
  height: 50px;
  
}
.img, .trash {
  text-align: center;
}