$light-slate-gray: #6D7B8D;

/*****************index****************/
.groupbuys-index-list {
  
}


/**************new participant**********/
.new-participant {
  font-size: 0.8rem;
  width: 100%;
  padding: 0;
  .left {
    float: left;
  }
  label {
    margin-right: 10px;
    padding: 2px 7px;
    height: 22px;
  }
  .clear {
    clear: both;
  }
  fieldset {
    padding: 0;
    margin: 0;
    
  }
  .time {
    margin-left: 10px;
  }
  .deliver-time {
    margin-bottom: 10px;
  }
  legend {
    margin-left: 20%;
  }
  .date, .time {
    padding: 10px 10px;
  }
  .address-title {
    font-weight: 500;
    font-size: 1em;
  }
  .default-address {
    padding-left: 10px;
    width: 70%;
    .name, .mobile, .address {
      color: $light-slate-gray;
      font-size: 0.8em;
    }
    .mobile {
      padding-left: 20px;
    }
  }
  .right-arrow {
    margin-right: 2%;
    margin-top: 5px;
  }
  .address-block {
    margin-bottom: 20px;
  }
  .goods-weight {
    width: 60px;
    margin-right: 20px;
  }
}