$light-slate-gray: #6D7B8D;


/**************public css**************/

.clear {
  clear: both;
}


/*****************index****************/
.groupbuys-index-list {
  font-size: 0.8rem;
  margin-top: 30px;
  h4 {
    font-size: 0.9rem;
  }
  small {
    font-size: 0.9em;
  }
  .columns {
    padding: 0 7px;
  }
  .money {
    padding-right: 5px;
    .row {
      margin: 0;
    }
  }
  .avatar img {
    width: 10%;
  }

}


/**************new participant**********/
.new-participant {
  font-size: 0.8rem;
  width: 100%;
  padding: 0;
  hr {
    margin-top: 0;
  }
  .left {
    float: left;
  }
  label {
    margin-right: 10px;
    padding: 2px 7px;
    height: 22px;
  }
  .clear {
    clear: both;
  }
  fieldset {
    padding: 0;
    margin: 0;
    
  }
  .time {
    margin-left: 10px;
  }
  .deliver-time {
    margin-bottom: 10px;
  }

  .deliver-time-title, .goods-amount, .unit {
    padding-top: 8px;
  }
  .deliver-time-title, .goods-amount {
    font-weight: 500;
  }
  .date, .time {
    padding: 0 10px;
    width: 40%;
  }

  .address-title {
    font-weight: 500;
    font-size: 1em;
  }
  .default-address {
    padding-left: 10px;
    width: 70%;
    .name, .mobile, .address {
      color: $light-slate-gray;
      font-size: 0.8em;
    }
    .mobile {
      padding-left: 20px;
    }
  }
  .right-arrow {
    margin-right: 2%;
    margin-top: 5px;
  }
  .address-block {
    margin-bottom: 20px;
  }
  .goods-weight {
    width: 60px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

/*******************groupbuy new page******************/

.new-groupbuy {
  font-size: 0.8rem;
  margin-top: 20px;
  ::-webkit-input-placeholder { font-size: 0.8rem; }
  ::-moz-placeholder { font-size: 0.8rem; } /* firefox 19+ */
  :-ms-input-placeholder { font-size: 0.8rem; } /* ie */
  input:-moz-placeholder { font-size: 0.8rem; }
  .picture-upload {
    padding-left: 5px;
  }
  .price {
    width: 20%;
  }
  .goods-unit {
    width: 30%;
  }
  .goods-minimal {
    width: 50%;
  }
  .goods-unit, .goods-minimal {
    padding-left: 15px;
  }
  .medium-12 {
    padding: 0;
  }
}