/******************index********************/
.logistic-content {
  .fa {
    margin: 0 5px;
  }
  .fa-check-circle {
    color: green;
  }
}
.clear {
  clear: both;
}
.plus-circle {
  margin-right: 5px;
}