.user-addresses-list {
  margin-top: 40px;
  font-size: 0.8rem;
  .checked {
    color: green;
  }
  .checked, .unchecked, .edit-address {
    padding-top: 5px;
  }
  .address-detail {
    padding-left: 5%;
    width: 85%;
  }
  .edit-address, .plus-circle {
    padding-right: 2%;
  }
  .address-content, .new {
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .new-address {

  }
}