.user-addresses-list {
  margin-top: 40px;
  font-size: 0.8rem;
  .checked {
    color: green;
  }
  .checked, .unchecked, .edit-address, .destroy-address {
    padding-top: 5px;
  }
  .address-detail {
    padding-left: 5%;
    width: 80%;
  }
  .edit-address {
    padding-right: 2%;
    margin-right: 10px;
  }
  .address-content, .new {
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .new-address {

  }
  .destroy-address, .plus-circle {
    margin-right: 20px;
  }
  .fa-trash {
    color: red;
  }
 .fa-plus-circle {
  color: green;
 }
}