//= require 'weui.min'
$light-slate-gray: #6D7B8D;
$wechat-gray: #F0F0F0;
$primary-color: #008CBA;


/**************show page******************/

.hidden {
  display: none;
}

.group-list {
  .group-name {
    text-align: center;
  }
}
.clear {
  clear: both;
}
.tracking-number {
  margin: 10px;
  margin-bottom: 0;
  .tracking-title {
    font-weight: 600;
  }
  .number {
    padding-left: 20px;
    color: $light-slate-gray;
  }
}

/**************show page new**************/
.main-content {
  background-color: $wechat_gray;
  .columns {
    background-color: $wechat_gray;
  }
  hr {
    margin: 0;
  }
  .profile-content, .columns {
    background-color: white;
    margin-top: 20px;
  }
}
.weui_cell, .weui_cell_ft {
  img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border: 1px $wechat_gray solid;
  }
  .fa {
    margin-right: 5px;
    color: $primary-color;
  }
  .weui_cell_bd {
    margin-top: 8px;
  }
}

/*******************my orders*******************/
.my-orders {
  background-color: $wechat-gray;
  .pic-title {
    padding-top: 10px;
  }
  .my-order {
    margin-top: 20px;
    background-color: white;
    .content {
      color: $light-slate-gray;
    }
  }
}