/********* show **********/
.vote-product-tiems {
  .product-item {
    margin-top: 20px;

  }
  .product-image {
    position: relative;
    img {
      display: block;
      margin: auto;
      width: 90%;
    }
    .fa-check {
      position: absolute;
      left: 45%;
      top: 40%;
      color: green;
      opacity: 0.7;
      z-index: 99;
    }
    .background-layer {
      position: absolute;
      z-index: 9;
      background-color: black;
      opacity: 0.7;
    }
  }
}
.vote-submit {
  margin-top: 30px;
}
.votes-counter {


  .release-info {
    margin-top: 20px;
  }
  .bar-length {
    background-color: green;
    display: inline-block;
    padding: 5px 0;
  }
  .voting-result {
    margin-top: 20px;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
  }
  .row {
    margin-top: 20px;
  }
}
.invite-vote {
  text-align: center;
  font-size: 1.4em;
  margin-top: 20px;
}

/*********** Index *************/
.voting-index {
  margin-top: 20px;
  .text-info {
    text-align: center;
  }
}