<% provide :title, @title%>

<div class="weui_cells weui_cells_access">
  <%= link_to new_groupbuy_path(tag: @tag),class: 'weui_cell' do %>
  <div class="weui_cell_bd weui_cell_primary">
    <div class="type"><i class="fa fa-plus-square"></i><%= t(:new_groupbuy) %></div>
  </div>
  <div class="weui_cell_ft"></div>
  <% end %>
  <% if @groupbuys.length > 0 %>
  <%= link_to choose_from_groupbuys_path(tag: @tag),class: 'weui_cell' do %>
  <div class="weui_cell_bd weui_cell_primary">
    <div class="type"><i class="fa fa-hand-lizard-o"></i><%= t(:choose_from_groupbuys) %></div>
  </div>
  <div class="weui_cell_ft"></div>
  <% end %>
  <% end %>
</div>