<!-- <p>活动查询</p>
<table class="table">
	<thead>
		<tr>
			<th>开始时间:
				<input type="text" class="span2" value="" id="dpd1">
			</th>
			<th>结束时间:
				<input type="text" class="span2" value="" id="dpd2">
			</th>
		</tr>
	</thead>
</table> -->

<% provide :title, t(:groupbuy) %>
<%# content_for(:groupbuy_content) do %>

    <div class="groupbuys-index-list"  data-over="<%= t(:groupbuy_end) %>">
      <% if @groupbuys.any? %>
      <%#= render partial: 'groupbuy2', locals: {groupbuys: @groupbuys} %>
      <%= render @groupbuys %>
      <% else %>
      <p><%= t(:no_groupbuys) %></p>
      <% end%>
    </div>
  
<%# end %>


