<div class="sticky">
  <nav class="top-bar" data-topbar role="navigation" data-topbar data-options="sticky_on: large">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name middle">
        <h1 class="title">
        <a href="/"><%=t(:site_name)%></a></h1>      
      </li>
      <li class="toggle-topbar"><a href="#"><span><i class="fa fa-plus"></i></span></a></li>
    </ul>

    <section class="top-bar-section">

      <!-- Right Nav Section -->
      <ul class="right">
      <li>
      
        <%if session[:locale] == 'en'%>  
           <%=link_to '<i class="fa fa-language"></i>'.html_safe+' 中文',"#{request.url.sub('?locale=en','')}?locale=zh"%>
        <%else%>
          <%=link_to '<i class="fa fa-language"></i>'.html_safe+' English',"#{request.url.sub('?locale=zh','')}?locale=en"%>
        <%end%>
      </li>
        <li class="divider hide-for-small"></li>
        <%@plus_menu.each do |link|%>
        <li><%=link_to link[:name], link[:path]%></li>
        <%end if @plus_menu%>
      </ul>
    </section>
  </nav>
</div>